@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    width: 100%;
  
}
.contents-container{
  height: 100vh;
  background-image: url(img/background.jpg);
    background-size: cover;
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    overflow: hidden;
    background-repeat: no-repeat;
    animation:change 30s infinite ease-in;
   

}
@keyframes change{
  30%
  {
     background-image: url(img/1.jpg); 
  }
  80%
  {
    background-image: url(img/2.jpg);
  }
}



.ntb{
background-color: rgb(247, 247, 247);
padding: 20px;
padding-left: 70px;
padding-right: 70px;
border-radius: 30px;
transition:  0.8s;
overflow: hidden;
box-shadow: 00 5px rgba(0, 0, 0, 0.712);
}

.Changecontent{
  font-family: 'Arimo', sans-serif;
  letter-spacing:10px;
  color: #e4e4e4;
}
.Changecontent::after{
  content: '  ';
  animation: Changecontent 25s infinite ;

}
@keyframes Changecontent{
  30%{content: "Ready-to-wear prêt-à-porter";}
  50%{content: "Mass Market";}
  70%{content: "Vintage Fashion";}
  100%{content: "Summer Collection";}
 
}

.ntb:hover{
  box-shadow: none;
 background-color: rgba(0, 38, 255, 0.5);
 border-radius: 4px;
 color: white;
 
}
.ri-arrow-drop-down-line{
  --fa-rotate-angle:var(--fa-rotate-angle)
}
a{
  transition: 0.7s;
}
.text-2xl{
  transition: 0.6s;
}
.text-2xl:hover{
color: rgb(3, 120, 230) ;
}
a:hover{
  color: rgb(230, 230, 230);
}
.dropdown-content {
  display: none;
  transition: 0.8s;
  position: absolute;
  background-color: #ffffffc5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 20px;
  
}
.w-99{
  width: 600px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 14px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.link{
  font-family: 'Arimo', sans-serif;
  font-family: 'Kanit', sans-serif;
}
 .link:hover {color: rgb(0, 110, 255);
  background-color: rgba(216, 244, 255, 0.836);
 
}
.mg{
  border-radius: 10px;
  
}
.mg:hover{
  opacity: 0.5;
  filter: grayscale(100%);
}
.dropdown:hover .dropdown-content {display: block;}
.centered{
  position: absolute;
  bottom:24%;
  left: 61%;
  color: white;

}
.tbn{
  width: 120px;
  background-color: rgb(247, 247, 247);
  padding: 10px;
  border-radius: 30px;
  transition: 0.8s;
  
}
.tbni{
  width: 120px;
  background-color: rgb(247, 247, 247);
  padding: 10px;
  border-radius: 30px;
  transition: 0.8s;
}
.tbn:hover{
  box-shadow: none;
 background-color: rgba(0, 38, 255, 0.5);
 border-radius: 4px;
 color: white;
 
}
.tbni:hover{
  box-shadow: none;
 background-color: rgba(0, 38, 255, 0.5);
 border-radius: 4px;
 color: white;
 
}
.w-98{
  width: 1500px;
}
*{
  margin:0;
  padding:0;
  }
  model-viewer{
  width:40%;
  height:590px;
 
  top: 20%;
 
 margin-left: 32%;
  -webkit-box-reflect: left 0px  linear-gradient(to right,rgba(0, 0, 0, 0.822), rgba(0, 0, 0, 0.418));
  
  
  }

  .modle{
    height: 100vh;
    background-image: url(img/istockphoto-1263687010-1024x1024.jpg);
      background-size: cover;

     
     
  }
  #parent{
      position: relative;
  }
  .green{
    position: absolute;
   
  }
  .cont{
     height: 100vh;

  }

  .second-container{
    height: 100vh;
    
  }
  .tab:hover{
    background-color: rgba(45, 112, 235, 0.521);
    opacity: 0.3;
  }
 .tab{
transition: 0.8s;
 }
  .text {
    color: rgb(236, 5, 5);
    background-color: aqua;
    font-size: 20px; 
  }
  .pl{
    width: 345px;

  }
  .w-90{
    width: 245px;
  }
  .w-69{
    width: 248px;
  }
 .line{
  margin-bottom: 72px;
  width: 18%;
  margin-left: 41%;
  border: 2px solid rgba(0, 140, 255, 0.753);
 }
.w-99{
  width: 789px;
  border-radius: 15px;
}
.w-98{
  width:349px ;

}
.women-fashion{
  height: 407px;
  width: 288px;
  background-image: url(img/young-woman-smiling-cheerful-concept_53876-60056-removebg-preview.png);
  background-size: cover;
  background-color: rgb(165, 220, 245);
  
} 
.women-fashion:hover{
 background-color: rgba(19, 127, 250, 0.247);
 
}
.fashion-title{
  display: none;
  
}
.women-fashion:hover .fashion-title {
 display: block;
 
 }
 .women-fashion:hover .icon-fashion{
  display: block;
 }
.icon-fashion{
  display: none;

 
}
.ml-40{
  border: 1px solid rgba(212, 235, 255, 0.753);}
  
.upgr{
  box-shadow: 00 5px rgba(0, 0, 0, 0.712);
  border-radius: 12px;
}
.vid-one{
  width: 486px;
  height: 432px;
}
